<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>회원관리</title>
  <style>
    table, th, td {
      border: 1px solid red;
    }
  </style>
</head>
<body>
  <table>
    <tr>
      <th>선수id</th>
      <th>선수이름</th>
      <th>팀이름</th>
      <th>weight</th>
      <th>height</th>
    </tr>
    {% for row in result_table %}
    <tr>
      <td>{{row.player_id}}</td>
      <td>{{row.player_name}}</td>
      <td>{{row.team_name}}</td>
      <td>{{row.weight}}</td>
      <td>{{row.height}}</td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>
